<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
</head>
<head>
    <input style = "border: solid 2px pink; background-color:lightyellow" type="button" onclick="location.href='http://localhost:8080/main';" value="Перейти на главную"/>
    <a th:href="@{/product/getAllEquipmentByLaboratory/{laboratoryId}/{firstDate}/{secondDate}
            (laboratoryId=${laboratoryId}, firstDate=${firstDate}, secondDate=${secondDate})}">
        <input style = "border: solid 2px pink; background-color:lightyellow" type="submit" class="center" value="Получить всё оборудование лаборатории, участвовавшего в тестировании"/>
    </a>
</head>
<table style = "border: solid 2px pink; background-color:lightyellow" class="table table-bordered">
    <thead>
    <tr>
        <th>Получить список оборудования, участвующего в испытаниях изделий отдельной категории </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prodType:${productTypes}">
        <td>
            <a th:href="@{/product/getEquipmentByLaboratoryIdAnDate/{laboratoryId}/{productTypeId}/{firstDate}/{secondDate}
            (productTypeId=${prodType.typeId}, laboratoryId=${laboratoryId}, firstDate=${firstDate}, secondDate=${secondDate})}"
               th:text="${prodType.name}"></a>
        </td>
    </tr>
    </tbody>
</table>
<table style = "border: solid 2px pink; background-color:lightyellow" class="table table-bordered">
    <thead>
    <tr>
        <th>id</th>
        <th>Название</th>
        <th>Получить оборудование для продукта</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product:${products}">
        <td>
            <a th:href="@{/product/product/{productId} (productId=${product.id})}"
               th:text="${product.id}"></a>
        </td>
        <td th:text="${product.name}"></td>
        <td>
            <a th:href="@{/product/getEquipmentByLaboratoryIdAnDateAndProductId/{laboratoryId}/{productId}/{firstDate}/{secondDate}
            (laboratoryId=${laboratoryId}, productId=${product.id}, firstDate=${firstDate}, secondDate=${secondDate})}">
                <input style = "border: solid 2px pink;" type="submit" class="center" value="Получить"/>
            </a>
        </td>
    </tr>
    </tbody>
</table>


</html>